:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color-rgba:rgba(238,75,43);
    --primary-color:#ee4d2d;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));  
    --star-gold-color: #ffce3e;
}
*{
    box-sizing: inherit;  
}
html{
    font-size: 62.5%;
    line-height: 1.6rem ;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
    
    
}
.grid_full-width{
    width: 100%;
    
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    
    
    
    
}
/*Test*/
.grid_column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid_column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    /* display: flex; */
    margin-bottom: 15px;
}
.grid_column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
    
}
/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    prom {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform:scale(var(--growth-from));
        }
        to{
            transform: scale(var(--growth-to));
        }
}
.modal{
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal_body{
    background-color: var(--white-color);
    --growth-form: 0.7;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.5s;
}
.bnt{
    width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:var(--text-color);
    line-height: 1.6rem;
    margin-right: 3px;   
}
.bnt.bnt-nomal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.bnt.bnt--size-s{
    height: 32px;
    font-size: 12px;
}
.bnt--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.bnt.bnt--disabled{
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}
/*APP CONTAINER*/
.app_container{
    background-color:#f5f5f5;
    /* border-bottom: 3px solid var(--primary-color); */

}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
    
}
.category_heading{
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}
.category_heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -2px;

}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;

}
.category-item-link{
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item-active .category-item-link{
    color: var(--primary-color);
}
.category-item-active .category-item-link::before{
    position: absolute;
    top: 50%;
    left: 4px;
    content: "";
    transform: translateY(calc(-50%));
    border: 4px solid var(--black-color);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item-link:hover{
    right: -5px;
    color: var(--primary-color);
}
/* Section*/
.select_intput {
    position: relative;
    min-width:200px;
    height:34px;
    padding: 0 12px;
    border-radius:2px;
    background-color: var(--white-color);
    padding:0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
}
.select_input_lable {
    font-size:1.4rem;
}
.select_input_icon {
    font-size:1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top:1px;
}
.select_intput_list {
    position: absolute;
    left: 0;
    right: 0;
    border-radius:2px;
    background-color: var(--white-color);
    top:24px;
    list-style: none;
    padding: 8px 16px;
    display: none;
    border-top:1px solid #949494;
    z-index: 1;
}
.select_intput_link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 0;
}
.select_intput_link:hover {
    color: var(--primary-color);
}
.select_intput:hover .select_intput_list {
    display: block;
}
#auth-form--register{
    display: none;
}
#auth-form--login {
    display: none;
}






